<table id="customers">
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Date de sortie</th>
      <th>Note moyenne</th>
      <th>Action</th>
    </tr>

    <tr *ngFor="let serie of series" appTableYellowOrRed="{{ serie.note_moyenne }}">
        <td>{{ serie.nom }}</td>
        <td>{{ serie.description }}</td>
        <td>{{ serie.date_sortie }}</td>
        <td>{{ serie.note_moyenne }}</td>
        <button (click)="navigateToDetails(serie.id)">Details</button>
    </tr>
  </table>